body{
    margin: 0px;
}
.menue{
    background-color: rgb(21, 19, 127);
    height: 70px;
}
.paragraph{
    display: inline-block;
    padding: 13px;
    color:antiquewhite;
    font-size: 25px;
    position: relative;
    top: 5px;
}
table{
    border: 2px solid blue;
}
th{
    border: 1px solid blue
}
td{
    border: 1px solid blue
}