body{
    margin: 0px;
}
a {
    text-decoration: none;
}
.menue{
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
    background-color: rgb(12, 70, 47);
}
.mainhead{
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}
.menuepunkt{
    display: inline-block;
    padding: 13px;
    color:antiquewhite;
    font-size: 25px;
    position: relative;
    top: 5px;
}
.paragraph{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}
.mainparagraph{
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}
table{
    border: 2px solid blue;
}
th{
    border: 1px solid blue
}
td{
    border: 1px solid blue
}